@font-face {
    font-family: skillstation;
    src: url(../font/Helvetica.ttf);
} 
h1,h2,h3,h4,p,a{
    font-family: skillstation;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* section-one styles starts here */
.nav{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #1D3557;
}
.nav-logo{
    position: absolute;
    left: 7%;
    top: 1%;
}
.nav-bar{
    position: absolute;
    left: 30%;
    display: none;
    cursor: pointer;
}
.nav-menu{
    position: absolute;
    left: 40%;
    top: 4%;
    height: 40px;
    width: 60%;
}
.nav-menu :hover{
    cursor: pointer;
    text-decoration: none;
    color: #ED3237;
    }
.nav-menu a{
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
    font-weight: normal;
    font-size: 18px;
}
#sign{
    border: solid 1px #ED3237;
    background-color: #ED3237;
    color:#ffffff;
    padding: 5px;
    border-radius: 10px;
    height: 60px;
}
#log{
    border: solid 1px #ED3237;
    color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    margin-left: 20px;
}
#sign:hover{
    color: #1D3557;
   }
   #log:hover{
       color: #ED3237;
        }
        /* section one styles ends here */